*.log
*.sql
*.sqlite
*.sqlite3
*.tmp
*.temp
*.bak
.DS_Store
.env
.env.backup
.env.production
.env.local
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/public/vendor
/public/js/filament
/public/css/filament
/public/fonts/filament
/storage/*.key
/storage/pail
/storage/logs/*
!/storage/logs/.gitignore
/storage/framework/cache/data/*
/storage/app/private/*
/storage/app/public/disease-reports/*
/storage/app/public/soil-health/*
/vendor
/assets/inference
__pycache__/
*.pyc
Homestead.json
Homestead.yaml
Thumbs.db
